.card {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  width: 415px;
  height: 540px;
  padding-bottom: 24px;
}

.header {
  height: 132px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
}

.title {
  margin: 30px 0 0 30px;
  color: #000000;
}

.title__white {
  margin: 30px 0 0 30px;
  color: white;
}

.title__name {
  font-size: 30px;
  font-weight: bold;
}

.description {
  margin-top: 15px;
  font-size: 18px;
}

.header img {
  margin: 20px 15px 0 0;
}

.tarif__parametrs {
  padding-left: 30px;
  font-size: 18px;
}

.tag {
  background-color: rgba(59, 165, 224, 1);
  border-radius: 10px;
  margin-left: 250px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  padding: 3px 13px;
  margin-top: 12px;
  display: inline-block;
}

.tag__non {
  display: block;
  width: 415px;
  height: 32px;
}

.price__container {
  margin-bottom: 10px;
}

.price {
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
}

.crossed__price {
  text-decoration: line-through;
  font-size: 25px;
  font-weight: 500;
  color: #999;
}

.options {
  margin-top: 65px;
}

.options h3 {
  font-size: 20px;
  font-weight: 500;
}

.features__list {
  list-style-type: none;
  padding-top: 10px;
}

.features__list::before {
  content: "✔";
  color: rgb(105, 223, 105);
  margin-right: 5px;
}

.featuresList li {
  padding: 5px 0;
}

.button__tarif {
  margin-top: 70px;
  background-color: #5970ff;
  width: calc(100% - 60px);
  font-weight: 400;
  font-size: 20px;
  margin: auto 30px 0;
}

.selected {
  background-color: #d2d2d2;
  color: #000000;
}

@media (max-width: 376px) {
  .card {
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 540px;
  }
}
