
.search__title{
	font-family: 'Ferry Black';
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin-top: 70px;
}

.search__about{
	font-size: 20px;
	display: block;
  	margin-top: 25px;
}

.search__main{
	display: flex;
	justify-content: space-between;
}

/* Стили для формы */

.search__form {
  padding: 30px 40px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  width: 872px;
  height: 543px;
  border-radius: 10px;
  margin-top: 47px;
}

.form__main {
  display: flex;
  justify-content: space-between;
}

.form__input_item label{
  color: #000000;
  font-size: 18px;
}

.item__input{
  font-size: 14px;
  padding: 13px 0 13px 22px;
  color: #000000;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  transition: 0.3s ease;
  width: 240px;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
}

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__wrapper{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 176px;
}

.input__date {
  display: flex;
  gap: 20px;
}

.error__text {
  color: red;
  font-size: 14px;
  margin-top: -23px;
}

.input__error {
	border: 1px solid red;
	font-size: 14px;
	padding: 13px 0 13px 22px;
	color: #000000;
	border-radius: 5px;
	transition: 0.3s ease;
	width: 240px;
	margin: 20px 0 30px;
	display: flex;
	flex-direction: column;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox__item {
  display: flex;
  flex-direction: column;
}

.form_button {
  padding: 16px 117px;
  background-color: #5970ff;
  border-radius: 5px;
  width: 305px;
  font-size: 22px;
}

.required {
	color: #949494;
	margin-left: 490px;
	margin-top: -15px;
	font-size: 14px;
}

/* Стили для компонента checkbox */

.cr_wrapper *,
.cr_wrapper *::before,
.cr_wrapper *::after {
	box-sizing: content-box !important;
}

.cr_wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr_wrapper span {
	font-size: 18px;
}

.cr_wrapper {
	display: table;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	margin-bottom: 15px;
}

.cr_wrapper input[type="checkbox"] ~ .cr_input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 14px;
	width: 14px;
	background: #FFFFFF;
	transition: 250ms;
	border: 1px solid #969696;
	border-radius: 2px;
	transform: translate(0, -50%);
}

.cr_wrapper input[type="radio"] ~ .cr_input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 14px;
	width: 14px;
	background: #FFFFFF;
	transition: 250ms;
	border: 1px solid #969696;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.cr_wrapper input[type="checkbox"] ~ .cr_input::after {
	content: "";
	position: absolute;
	display: none;
	left: 2px;
	top: 2px;
	width: 10px;
	height: 10px;
	transition: 250ms;
	background-color: #66FF16;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr_wrapper input[type="radio"] ~ .cr_input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: 250ms;
}

.cr_wrapper input:checked ~ .cr_input::after {
	display: block;
}

.cr_wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr_input,
.cr_wrapper input[type="checkbox"]:focus ~ .cr_input {
	background: #F0F0F0;
	border-color: #000000;
}

.cr_wrapper:hover input[type="radio"]:not([disabled]) ~ .cr_input{
	background: #F0F0F0;
	border-color: #000000;
}

.cr_wrapper input[type="checkbox"]:checked ~ .cr_input {
	background: #FFFFFF;
	border-color: #000000;
}

.cr_wrapper input[type="checkbox"]:checked ~ span{
	color: #000000;
  	font-size: 18px;
}
.cr_wrapper input[type="checkbox"]:disabled ~ .cr_input{
	opacity: 0.5;
	cursor: not-allowed;
}

.cr_wrapper input[type="checkbox"]:disabled ~ span {
	color: #CCCCCC;
	cursor: not-allowed;
}

.cr_wrapper input[type="checkbox"]:disabled ~ .cr_input::after {
	background: #66FF16;
}

.cr_wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr_input,
.cr_wrapper input[type="checkbox"]:checked:focus ~ .cr_input {
	background: #FFFFFF;
	border-color: #000000;
}

/* Контейнер с img */

.main__imgs{
	position: relative;
}

.imgs__document{
	position: absolute;
    left: -500px;
    top: -100px;
}

.imgs__folders{
	position: absolute;
	top: -70px;
	right: 100px;
}

.imgs__rocket {
	right: -50px;
	position: absolute;
	bottom: -0px;
}

@media (max-width: 376px) {
	.search__title{
		font-size: 36px;
	}

	.search__main{
		flex-direction: column;
    }
	
	.main__imgs{
	}

	.form__checkbox{
		display: none;
	}

	.search__form{
		width: 350px;
		padding: 20px 10px;
        display: flex;
		align-items: center;
        flex-direction: column;
		height: 670px;
	}

	.form__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form__input_item {
		width: 100%;
	}

	.input__date {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 0;
	}

	.item__input, .calendar__wrapper {
		width: 100%;
		max-width: none;
	}

	.form_button {
		margin-top: 20px
	}

	.required{
		margin: 20px;
	}

	.imgs__rocket{
		width: 370px;
        position: relative;
        right: 0px;
        top: 20px;
	}

	.imgs__folders, .imgs__document{
		display: none;
	}
}