.documents__wrapper{
    width: 641px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 19px 30px;
}


.card__about {
    display: flex;
    font-size: 16px;
    gap: 15px;
}

.about__date{
    color: #949494;
}

.about__author a{
    color: #949494;
    text-decoration: solid;
}

.card__header h2{
    margin-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
    line-height: 31.47px;
}

.header__title{
    font-size: 26px;
    font-weight: 500;
}

.header__tag{
    background-color: #FFB64F;
    border-radius: 5px;
    font-size: 12px;
    color: #000000;
    padding: 4px 11px;
    margin-top: 18px;
    display: inline-block;
}

.header__tag_non{
    display: block;
    width: 157px;
    height: 22px;
}

.main__img{
    width: 581px;
    height: 158px;
    margin-top: 14px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    place-items: center;
    /* max-height: 400px;
    overflow: scroll; */
}

.posts__controls {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    place-items: center;
}

.main__content {
    width: 581px;
    min-height: 228px;
    max-height: 228px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
    text-overflow: ellipsis;
    gap: 0.5px;
    margin-top: 30px;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}
.footer__button{
    background-color: #7CE3E1;
    color: #000000;
    padding: 14px 33px;
    border-radius: 5px;
}

.footer__wordcount{
    color: #949494;
}

.loading__container {
    position: relative;
    width: 100%;
    padding: 25px 0;
}

.posts__button{
    background-color: #5970FF;
    width: 305px;
}

.button__hidden{
    display: none;
}
