@import url('https://fonts.googleapis.com/css2?family=Ferry&display=swap');


.slick-slider {
  width: calc(100vw - 120px);
  margin-top: 55px;
}

.slick-list{
  margin: 0 5px
}

.slick-slide {
  padding: 0 10px;
}

.slide__card{     
  width: 400px;
  height: 225px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  margin: 15px 0;
  padding-left: 20px;
  font-size: 18px;
}

.slide__card img {
  margin: 30px 0 20px 0;
}

.slick-arrow{
  width: 40px;
  height: 40px;
}

.slick-prev::before{
  content: url('./assets/leftArrow.svg');
  margin-right: 5px;
}

.slick-next::before{
  content: url('./assets/rightArrow.svg');
}

.footer__container{
  display: flex;
  justify-content: space-between;
  background-color: #029491;
  width: 100vw;
  height: 137px;
  flex-shrink: 0;
}

.footer__logo{
  position: relative;
  padding-left: 60px;
}

.footer__info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding-right: 45px;
}

.adress{
  font-size: 14px;
}

.copyright{
  font-size: 12px;
}

.p-datepicker:not(.p-datepicker-inline) {
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.p-calendar .p-inputtext {
  font-size: 14px;
  padding: 13px 0 13px 22px;
  color: #000000;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  transition: 0.3s ease;
  width: 176px;
  margin: 20px 0 30px;
}

.p-calendar.error .p-inputtext {
  border: 1px solid red;
}

.p-datepicker .p-datepicker-header {
  padding: 0.2rem;
  color: #4b5563;
  background: #ffffff;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #e5e7eb;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 2rem;
  height: 2rem;
  color: #2e2b2b;
  border: 0 none;
  background: #c8cdd6;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-datepicker-prev, .p-datepicker-next {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  margin-right: 0.5rem;
}

.p-datepicker .p-datepicker-buttonbar {
  padding: 0.2rem;
  border-top: 1px solid #e5e7eb;
}

.p-button.p-button-secondary.p-button-text{
  background-color: transparent;
  color: #2e2b2b;
  border-color: transparent;
}

.p-button-label {
  font-weight: 500;
}

.p-datepicker table td.p-datepicker-today > span {
  background: #d1d5db;
  color: #4b5563;
  border-color: transparent;
}

.p-datepicker table td > span {
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}

.p-datepicker table td > span.p-highlight {
  color: #0e7490;
  background: #ecfeff;
}


